<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Giant Bomb Test</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Giant Bomb Test</h1>
    <button type="button" name="button">Search</button><button type="button" name="button">Favorites</button>
    <div ng-controller='giantBombController'>
      <div id='favoritesPanel'>
        <div ng-repeat='favorites in allFavorites'>
          <h2>{{ favorites.name }}</h2>
          <img ng-src='{{ favorites.image.thumb_url }}' /><br />
          <button type="button" name="button" ng-click='removeFromFavorites( $index );'>Remove</button>
          {{ favorites.deck }}
          </div>
      </div>
      <hr />
      <div id='searchPanel'>
        <input type="text" ng-model='searchString' value="" placeholder="Search for...">
        <button ng-click='findGame()'>Search</button><button  ng-click='clearSearch()'>Clear</button>
        <div ng-repeat='result in allResults'>
          <h2>{{ result.name }}</h2>
          <img ng-src='{{ result.image.thumb_url }}' /><br />
          <button type="button" name="button" ng-click='addToFavorites( $index );'>Favorite</button><br />
          {{ result.deck }}
          </div>
      </div>
    </div>
  </body>
</html>
